---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--font-1: 'DM Sans', sans-serif;
		/* --font-2: 'Kalam', cursive; */

		--color-1: 53 147 255;	/* #3593ff - Blue */
		--color-2: 32 123 227;	/* #207be3 - Dark Blue */
		--color-3: 255 148 63;	/* #e97303 - Dark Orange */
		--color-4: 255 148 63;	/* #e97303 - Dark Orange */
	}

	* {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

	::-moz-selection {
		@apply text-white bg-color-1;
	}
	::selection {
		@apply text-white bg-color-1;
	}
	:focus-visible {
		@apply outline-0;
	}

	html {
		@apply bg-white;
	}
	html.dark {
		@apply bg-zinc-900;
	}

	body {
		@apply font-theme-1 cursor-default text-black/80 dark:text-white transition-colors duration-100 break-words;
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
	}

	a {
		@apply transition-[colors_opacity] duration-200 text-color-1 hover:text-color-2;
	}
	button {
		@apply transition-[colors_opacity] duration-200 outline-0;
	}
	p {
		@apply mb-5 last:mb-0;
	}

	h1, h2, h3, h4, h5, h6 {
		@apply font-bold;
	}

	input,
	textarea {
		@apply bg-white dark:bg-zinc-800 appearance-none;
	}
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		-webkit-text-fill-color: black;
		-webkit-box-shadow: 0 0 0 1000px rgba(204,251,241,.5) inset;
		color: black;
		box-shadow: 0 0 0 1000px rgba(204,251,241,.5) inset;
		transition: background-color 5000s ease-in-out 0s;
	}
	input[type=number]::-webkit-outer-spin-button,
	input[type=number]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type=number] {
		-moz-appearance: textfield;
	}
}

@layer components {
	.skeleton {
		position: relative;
		display: block;
	}
	.skeleton:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		animation: skeleton-light 1s linear infinite alternate;
	}
	.dark .skeleton:after {
		animation: skeleton-dark 1s linear infinite alternate;
	}
	@keyframes skeleton-light {
		0% {
			background-color: hsl(200, 20%, 80%);
		}
		100% {
			background-color: hsl(200, 20%, 95%);
		}
	}
	@keyframes skeleton-dark {
		0% {
			background-color: hsl(200, 10%, 30%);
		}
		100% {
			background-color: hsl(200, 10%, 45%);
		}
	}

	.button {
		@apply flex justify-center no-underline w-full h-full rounded-lg shadow-xl py-3 px-4 md:px-6 font-medium text-white hover:text-white bg-color-1 hover:bg-color-2 focus-visible:outline-none disabled:pointer-events-none disabled:text-zinc-400 disabled:bg-zinc-200 disabled:hover:bg-zinc-200 [&.disabled]:pointer-events-none [&.disabled]:text-zinc-400 [&.disabled]:bg-zinc-200 [&.disabled]:hover:bg-zinc-200;
	}

	.swipe {
		@apply snap-x snap-mandatory whitespace-nowrap overflow-auto flex;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.swipe::-webkit-scrollbar {
		@apply hidden;
	}
	.swipe > * {
		@apply snap-start whitespace-normal min-w-full;
	}

	.product-image {
		@apply max-lg:border-b lg:border lg:border-slate-100 lg:shadow-xl lg:rounded-xl lg:overflow-hidden;
	}
	.product-image .slider {
		@apply relative before:content-[''] before:absolute before:z-[1] before:w-full before:h-full before:cursor-zoom-in before:[&.allow-zoom]:-z-[1] before:[&.allow-zoom]:cursor-zoom-out;
	}
	.product-title {
		@apply mb-4;
	}
	.product-title h1 {
		@apply text-2xl md:text-3xl lg:text-4xl lg:inline;
	}
	.product-price .past {
		@apply opacity-50;
	}
	.product-price .current {
		@apply text-2xl lg:text-3xl font-bold text-emerald-500;
	}
	.product-price .discount {
		@apply bg-amber-500 text-white inline py-1 px-2 rounded-md text-xs [&_span]:font-bold;
	}
	.product-price .saving {
		@apply bg-slate-100 inline py-1 px-2 rounded-md text-xs [&_span]:font-bold;
	}
	.product-attribute span {
		@apply bg-emerald-500 text-white inline py-1 px-2 rounded-md text-xs font-bold uppercase tracking-widest;
	}
	.product-description {
		@apply my-10;
	}
	.product-attribute {
		@apply inline-block align-top;
	}
	.product-stock {
		@apply bg-rose-500 text-white inline py-1 px-2 rounded-md text-xs font-bold uppercase tracking-widest max-lg:my-1 lg:inline lg:align-super lg:ml-2;
	}
	.product-category {
		@apply inline-block pt-px;
	}
	.product-tag {
		@apply opacity-50;
	}
	.product-cart-add {
		@apply my-8 lg:my-6;
	}
}

@layer utilities {
	.aspect-square {
		aspect-ratio: 1 / 1;
	}
}
