---
layout: default
---

<section class="max-w-6xl mx-auto px-5 lg:px-10 py-4">
	<div class="sm:flex">
		<div class="w-full">
			<h1 class="text-2xl md:text-3xl lg:text-4xl">{{ page.title }}</h1>
			<p>Kategori: {{ page.category }}</p>
			<p>Kategori: {{ page.category }}</p>
		</div>
		<div class="w-full">
			<picture class="skeleton">
				<img src="https://images.unsplash.com/photo-1576675466684-456bcdeccfbf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&h=600&q=80" alt="Banner" class="w-full h-full object-cover" width="600" height="600" onload="this.closest('.skeleton').classList.remove('skeleton')" />
			</picture>
		</div>
	</div>
	<div class="prose dark:prose-invert">
		{{ content }}
	</div>
	<div>
		tag
	</div>

<!-- Admin
- judul
- stok (toggle switch stok ada/habis)
- harga
- harga promo (ada toggle switch utk munculkan field)
- atribut: terlaris, baru, tanpa atribut
- foto produk (max 6, format jpg jpeg png)
- kategori produk
- tag
- deskripsi

Public
- stok habis berupa badge
- atribut berupa badge
- promo berupa badge, ada diskon dalam persen
- foto produk berupa slider, bisa zoom in out
- buat cart, ada pilihan ekspedisi & metode pembayaran, checkout ke wa, dan input ke gsheet -->

</section>
