---
layout: default
---

<section class="max-lg:max-w-lg max-w-6xl mx-auto lg:px-10 lg:py-4">
	<div class="lg:float-right lg:w-80">
		{% if page.photos %}
			<section class="splide" aria-label="Splide Basic HTML Example">
				<div class="splide__track">
					<ul class="splide__list">
						{% if page.thumbnail %}
						<li class="splide__slide">
							<picture class="skeleton">
								<img src="{{ page.thumbnail }}" alt="{{ page.title }}" class="w-full h-full object-cover" width="600" height="600" loading="lazy" onload="this.closest('.skeleton').classList.remove('skeleton')" />
							</picture>
						</li>
						{% endif %}
						{% for image in page.photos %}
						<li class="splide__slide">
							<picture class="skeleton">
								<img src="{{ image.photo }}" alt="{{ page.title }}" class="w-full h-full object-cover" width="600" height="600" loading="lazy" onload="this.closest('.skeleton').classList.remove('skeleton')" />
							</picture>
						</li>
						{% endfor %}
					</ul>
				</div>
			</section>
		{% else %}
			{% if page.thumbnail %}
			<picture class="skeleton">
				<img src="{{ page.thumbnail }}" alt="{{ page.title }}" class="w-full h-full object-cover" width="600" height="600" loading="lazy" onload="this.closest('.skeleton').classList.remove('skeleton')" />
			</picture>
			{% endif %}
		{% endif %}
	</div>
	<div class="lg:mr-80 lg:pr-8">
		<h1 class="text-2xl md:text-3xl lg:text-4xl">
			{{ page.title }}
		</h1>

		{% if page.price %}
		<div class="my-3">
			<strong>Harga</strong>
			{% if page.price.promo %}
				{% assign regular = page.price.regular | remove: "." %}
				{% assign promo = page.price.promo | remove: "." %}

				{% assign price_regular = regular %}
				<del>Rp <span class="money">{{ price_regular }}</span></del>

				{% assign price_promo = promo %}
				<span>Rp <span class="money">{{ price_promo }}</span></span>

				{% assign float_regular = regular | times: 1.0 %}
				{% assign float_promo = promo | times: 1.0 %}
				{% assign decimal = float_promo | divided_by: float_regular | times: 100 %}
				{% assign decimal_split = decimal | split: '.' %}
				{% assign fix_decimal = decimal | minus: 100 | remove: "-" %}
				{% assign fix_decimal_split = decimal_split[0] | minus: 100 | remove: "-" %}

				{% if decimal_split[1] == "0" %}
					{% assign discount = fix_decimal_split %}
				{% else %}
					{% if decimal_split[1].size <= 2 %}
						{% assign discount = fix_decimal %}
					{% else %}
						{% assign discount = fix_decimal | slice: 0,5 %}
					{% endif %}
				{% endif %}

				<small>Diskon {{ discount }}%</small>

				{% assign saving = regular | minus: promo %}
				{% assign price_saving = saving %}
				<span>Hemat Rp <span class="money">{{ price_saving }}</span></span>
			{% else %}
				{% assign regular = page.price.regular | remove: "." %}
				{% assign price_regular = regular %}
				<span>Rp <span class="money">{{ price_regular }}</span></span>
			{% endif %}
		</div>
		{% endif %}

		{% if page.stock == "Stok Habis" %}
		<div class="my-3">
			<strong>Stok</strong>
			<span>{{ page.stock }}</span>
		</div>
		{% endif %}

		{% if page.attribute != "Tanpa Atribut" %}
		<div class="my-3">
			<strong>Atribut</strong>
			<span>{{ page.attribute }}</span>
		</div>
		{% endif %}

		{% if page.category %}
		<div class="my-3">
			<strong>Kategori</strong>
			<span>{{ page.category }}</span>
		</div>
		{% endif %}

		{% if page.tags %}
		<div class="my-3">
			<strong>Tag</strong>
			{% for tag in page.tags %}
				<span>{{ tag }}</span>
				{%- if forloop.last == false -%}
					,
				{%- endif -%}
			{% endfor %}
		</div>
		{% endif %}

		<div class="prose dark:prose-invert">
			{{ content }}
		</div>
	</div>
<!-- 
Public
- stok habis berupa badge
- atribut berupa badge
- promo berupa badge, ada diskon dalam persen
- foto produk berupa slider, bisa zoom in out
- buat cart, ada pilihan ekspedisi & metode pembayaran, checkout ke wa, dan input ke gsheet -->

</section>
